## Download and process Satelite images

In [1]:
import pandas as pd
import numpy  as np

In [2]:
Accidents = pd.read_csv("London_accidents_merged.csv")

In [3]:
Accidents.head()

,Accident_Index,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,1st_Road_Class,Road_Type,...,LSOA,population_per_hectare,bicycle_aadf,motorbike_aadf,car_aadf,bus_aadf,light_goods_vehicle_aadf,heavy_goods_vehicle_aadf,Road,RCat
0,201301BS70003,-0.171402,51.486361,Serious,2,1,2013-01-02,Wednesday,A,Single carriageway,...,E01002844,110.8,1634.4,860.4,14888.0,1139.8,2297.0,352.0,A3217,PA
1,201301BS70005,-0.173356,51.495115,Slight,1,2,2013-01-04,Friday,A,Single carriageway,...,E01002821,74.6,559.6,1516.0,28505.6,1396.2,3868.6,1003.0,A4,PA
2,201301BS70006,-0.210767,51.518353,Slight,1,1,2013-01-07,Monday,B,Single carriageway,...,E01002878,133.4,2.6,3898.2,63274.8,763.4,15253.6,3185.8,A40,PA
3,201301BS70007,-0.209675,51.516808,Slight,2,1,2013-01-10,Thursday,B,Single carriageway,...,E01002831,179.2,2.6,3898.2,63274.8,763.4,15253.6,3185.8,A40,PA
4,201301BS70009,-0.194332,51.492922,Slight,2,1,2013-01-04,Friday,A,One way street,...,E01002851,272.3,869.2,1229.8,20478.6,897.2,4951.6,1251.4,A3220,PA

In [4]:
lat_min, lat_max = 51.257, 51.719
long_min, long_max = -0.542, 0.291

In [5]:
grid_size = 0.0005

lats = np.linspace(lat_min, lat_max, 925)
lons = np.linspace(long_min, long_max ,1667)
coords = [(round(x,4),round(y,4)) for x in lats for y in lons]

coords = pd.DataFrame(coords, columns=['lat_4dp', 'long_4dp'])
coords['grid_square'] = coords['lat_4dp'].map(str) + ',' + coords['long_4dp'].map(str)

coords.head()

   lat_4dp  long_4dp     grid_square
0   51.257   -0.5420   51.257,-0.542
1   51.257   -0.5415  51.257,-0.5415
2   51.257   -0.5410   51.257,-0.541
3   51.257   -0.5405  51.257,-0.5405
4   51.257   -0.5400    51.257,-0.54

In [6]:
def myround(x ,base=.0005):
    return base * round(x/base)

In [7]:
Accidents['lat_4dp'] = myround(Accidents['Latitude'])
Accidents['long_4dp'] = myround(Accidents['Longitude'])

Accidents['grid_square'] = round(Accidents['lat_4dp'],4).map(str) + ',' + round(Accidents['long_4dp'],4).map(str)

In [8]:
Accidents.head()

,Accident_Index,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,1st_Road_Class,Road_Type,...,motorbike_aadf,car_aadf,bus_aadf,light_goods_vehicle_aadf,heavy_goods_vehicle_aadf,Road,RCat,lat_4dp,long_4dp,grid_square
0,201301BS70003,-0.171402,51.486361,Serious,2,1,2013-01-02,Wednesday,A,Single carriageway,...,860.4,14888.0,1139.8,2297.0,352.0,A3217,PA,51.4865,-0.1715,"51.4865,-0.1715"
1,201301BS70005,-0.173356,51.495115,Slight,1,2,2013-01-04,Friday,A,Single carriageway,...,1516.0,28505.6,1396.2,3868.6,1003.0,A4,PA,51.4950,-0.1735,"51.495,-0.1735"
2,201301BS70006,-0.210767,51.518353,Slight,1,1,2013-01-07,Monday,B,Single carriageway,...,3898.2,63274.8,763.4,15253.6,3185.8,A40,PA,51.5185,-0.2110,"51.5185,-0.211"
3,201301BS70007,-0.209675,51.516808,Slight,2,1,2013-01-10,Thursday,B,Single carriageway,...,3898.2,63274.8,763.4,15253.6,3185.8,A40,PA,51.5170,-0.2095,"51.517,-0.2095"
4,201301BS70009,-0.194332,51.492922,Slight,2,1,2013-01-04,Friday,A,One way street,...,1229.8,20478.6,897.2,4951.6,1251.4,A3220,PA,51.4930,-0.1945,"51.493,-0.1945"

In [9]:
all_squares = coords.grid_square
len(all_squares)

1541975

In [10]:
danger_squares = Accidents.grid_square
danger_squares.drop_duplicates(inplace=True)
len(danger_squares)

69757

In [11]:
safe_squares = list(set(all_squares) - set(danger_squares))
len(safe_squares)

1472218

In [12]:
danger_squares_download = list(np.random.choice(list(danger_squares), size=5000, replace=False))
safe_squares_download = list(np.random.choice(list(safe_squares),size=5000,replace=False))

In [13]:
import urllib, os

def GetImage(coord,SaveLoc):
    base = "https://maps.googleapis.com/maps/api/staticmap?size=375x600&zoom=20&scale=1&maptype=satellite&format=png&visual_refresh=true&center="
    MyUrl = base + coord + key
    file = coord + ".jpg"
    print(MyUrl)
    urllib.request.urlretrieve(MyUrl, os.path.join(SaveLoc,file))

## Gather satellite images using the mapbox api instead of the google maps static api

In [14]:
def GetImageAlternative(coord,SaveLoc):
    latitude,longitude = coord.split(",")
    sizex = 365
    sizey = 365
    zoom = 19
    file = coord + ".jpg"
    token = "pk.eyJ1IjoiaHVnb21hbiIsImEiOiJjazczcWN5enEwZWR6M2Vtc2NwdG41YnB2In0.XzksnuqKWS2TFcTvzbDIIw"
    link =  f"https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/{longitude},{latitude},{zoom}/{sizex}x{sizey}?access_token={token}"
    ##print(link)
    urllib.request.urlretrieve(link, os.path.join(SaveLoc,file))

In [15]:
key = "&key=" + "AIzaSyDDc2RaAX5W8EuF-T2alAPR95S2SVJ5Byg" # API key - kept private
mylocdanger = r"images\danger" # File path - kept private
mylocsafe   = r"images\safe"

for i in danger_squares_download:
    GetImageAlternative(coord=i,SaveLoc=mylocdanger)
 
for i in safe_squares_download:
    GetImageAlternative(coord=i,SaveLoc=mylocsafe)

'\nfor i in safe_squares_download:\n    GetImageAlternative(coord=i,SaveLoc=mylocsafe)\n'